# copy+edit in .env

# ! all values are required

# > docker <
CONTAINER_NAME= # <-- FILL ME
SERVICE_VERSION=latest

## network(s)
SOCKET_PROXY_NET=socket-proxy-${CONTAINER_NAME}
TRAEFIK_NET=traefik-net

# > traefik <
TRAEFIK_HOST=${CONTAINER_NAME}.domain.ext
TRAEFIK_PORT=8080

# > timezone <
TZ=Etc/UTC # Europe/Brussels

# > user/group <
USER_ID=1000
GROUP_ID=1000
